/* display */

.basicode {
    transform: scaleX(1.5);
    /*height: 20rem;*/
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
    background-color: grey;
    border-radius: 0.4rem;
    outline: none;
    /* this centers the screen horizontally, for some reason */
    margin: auto;
    display: table;
    /* */
    margin-top: 1rem;
}

.basicode:focus {
    background-color: grey;
    border: 1px solid darkgrey;
}

/* storage visualisation */

.floppy {
    width: 15em;
    margin: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    float: left;
}
.floppy a {
    font-family: sans;
    font-weight: bold;
    display: block;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0.2em;
    border: 0.2em solid steelblue;
    border-radius: 0.7em;
    background-color: steelblue;
    color: white;
    text-decoration: none;
    overflow: hidden;
};
.floppy a:visited {
    color: white;
    text-decoration: none;
}


body {
    background-color: darkslategrey;
}
